
#googleMap {
	width: 100%;
	height: 450px;
}

.card {
	display: none;
}

.cardForm {
	display: none;
}

.list {
	display: block;
}

.bandeau2, .contents, .list .header, {
	padding: 1%;
}

.bandeau2, .list .header {
	width: 100%;
	height: 150px;
	background-color: #495CFF;	
}

.back {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
}

.list .header h2 {
	margin: 0;
}

.contents {
	width: 100%;
	height: 600px;
}

.bandeau2 h2, .list .header h2 {
	font-size: 5em;
	color: white;
}

.bandeau2 h2 input {
	width: 500px;
}

.bandeau2 button {
	float:right;
}